In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
filename = '../data/celebrity_deaths_2016.csv'

df = pd.read_csv(filename,
                usecols=['dateofdeath', 'age'])

df.head()

  dateofdeath age
0  2016-01-01  71
1  2016-01-01  74
2  2016-01-01  79
3  2016-01-01  45
4  2016-01-01  83

In [4]:
# Make the "month" column the index of the data frame
df['month'] = df['dateofdeath'].str.slice(5,7)
df = df.set_index('month')

In [5]:
# Sort the data frame by the index
df = df.sort_index()

### ðŸ•µï¸â€â™€ï¸ Bellonda's Logic Decoder
**The Business Goal:** To sanitize the 'age' column so we can perform mathematical operations, ensuring that any non-numeric garbage data is safely neutralized rather than crashing our code.

**The Syntax Anatomy:**
* `pd.to_numeric(...)` â†’ **The Converter**: The specialized function that attempts to turn text into numbers.
* `df['age']` â†’ **The Raw Input**: The column containing potentially mixed data types (strings and numbers).
* `errors='coerce'` â†’ **The Safety Valve**: The setting that says "If a value is invalid, force it to be `NaN` (Not a Number) instead of raising an error."

> **ðŸ’¡ The Wisdom Check:**
> "`errors='coerce'` is the data scientist's version of a quality filter. We are accepting that we will lose some data (the garbage) in exchange for a column we can actually trust and calculate with."

In [8]:
df['age'] = pd.to_numeric(df['age'], errors='coerce')

In [9]:
df['age']

month
01    71.0
01    47.0
01    87.0
01    90.0
01    73.0
      ...
12    63.0
12    20.0
12    57.0
12    78.0
12    84.0
Name: age, Length: 6543, dtype: float64

In [10]:
df['age'].describe()

count    6505.000000
mean      100.960338
std       413.994127
min         7.000000
25%        69.000000
50%        81.000000
75%        89.000000
max      9394.000000
Name: age, dtype: float64

In [11]:
df = df.loc[df['age'] < 120]

In [12]:
len(df.index)

6481

In [13]:
# Find the average age of celebrities who died from Feb - July
df.loc['02':'07', 'age'].mean()

77.17887409200968