In [8]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [9]:
filename = '../data/olympic_athlete_events.csv'

df = pd.read_csv(filename,
                index_col=['Year', 'Season', 'Sport', 'Event'],
                usecols=['Age', 'Height', 'Team', 'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'])
df = df.sort_index()
df.head()

                                                     Age  Height  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres  24.0     NaN
                      Athletics Men's 1,500 metres   NaN     NaN
                      Athletics Men's 1,500 metres  22.0     NaN
                      Athletics Men's 1,500 metres  23.0   154.0
                      Athletics Men's 1,500 metres  21.0     NaN

                                                             Team    City  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres  United States  Athina
                      Athletics Men's 1,500 metres         Greece  Athina
                      Athletics Men's 1,500 metres      Australia  Athina
                      Athletics Men's 1,500 metres        Germany  Athina
                      Athletics Men's 1,500 metres         Greece  Athina

                                                     Medal
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres  Silver
                      Athletics Men's 1,500 metres     NaN
                      Athletics Men's 1,500 metres    Gold
                      Athletics Men's 1,500 metres     NaN
                      Athletics Men's 1,500 metres     NaN

In [10]:
# What is the average age for winning athletes in summer games held between 1936 and 2000?
df.loc[(slice(1936,2000), 'Summer'), 'Age'].mean()

25.026883940421765

### ðŸ•µï¸â€â™€ï¸ Bellonda's Syntax Trap: The Positional Placeholder
**The Rule:** `.loc` tuples are **Positional**, not Smart.
You cannot skip a level on the left just because you don't care about it.

** The Comparison:**
* âŒ `loc[('Summer', 'Archery')]`
  * **Pandas thinks:** "Find Year='Summer' and Season='Archery'".
  * **Result:** Empty/Error.
* âœ… `loc[(slice(None), 'Summer', 'Archery')]`
  * **Pandas thinks:** "Ignore Year (Wildcard), Find Season='Summer', Sport='Archery'".
  * **Result:** Success.

> **ðŸ’¡ The Wisdom Check:**
> **`slice(None)` == `all`**
> It is the Pandas equivalent of the `*` wildcard in SQL (`SELECT *`). It holds the place of a level so the subsequent arguments align with the correct hierarchy.

In [ ]:
# What team has won the greatest number of medals for all archery events?
(
    df
    .dropna(subset='Medal')
    .loc[(slice(None), 'Summer', 'Archery'), 'Team']
    .value_counts()
)

SyntaxError: invalid syntax (1942313408.py, line 4)

In [ ]:
# Starting in 1980, what is the average height of the event known as "Table Tennis Women's Team"?
df.loc[
    (slice(1980, None), 'Summer', slice(None), "Table Tennis Women's Team"), 'Height'
].mean()

165.04827586206898

In [18]:
# Starting in 1980, what is the average height of either "Table Tennis Women's Team" or "Table Tennis Men's Team"?
df.loc[(slice(1980, None), 'Summer', slice(None), ["Table Tennis Men's Team", "Table Tennis Women's Team"]), 'Height'].mean()

171.26643598615917

In [26]:
# How tall was the tallest-ever tennis player in Olympic games from 1980 until 2016?
df.loc[(slice(1980,2016), 'Summer', 'Tennis'), 'Height'].max()

208.0