In [2]:
import pandas as pd
import numpy as np

In [5]:
g = np.random.default_rng(0)
g

Generator(PCG64) at 0x127D9F220

In [10]:
scores = g.integers( 40 , 60 , 10 )
print (scores)

[45 56 53 40 47 57 51 40 55 54]

In [9]:
months = 'Sep Oct Nov Dec Jan Feb Mar Apr May Jun'.split()
print(months)

['Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']

In [16]:
s = pd.Series(scores,index = months)
print(s)

Sep    45
Oct    56
Nov    53
Dec    40
Jan    47
Feb    57
Mar    51
Apr    40
May    55
Jun    54
dtype: int64

In [20]:
year_mean = s.mean()
print(year_mean)

49.8

In [21]:
to_80 =  80 - year_mean

In [22]:
s = s + to_80
s

Sep    75.2
Oct    86.2
Nov    83.2
Dec    70.2
Jan    77.2
Feb    87.2
Mar    81.2
Apr    70.2
May    85.2
Jun    84.2
dtype: float64

In [24]:
year_mean = s.mean()
print(year_mean)

80.00000000000001